src/main/app/sampleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <apikit:config name="Router" raml="api-config.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <apikit:config name="MongoRouter" raml="api-config.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="3030" doc:name="HTTP Listener Configuration"/>
    <mongo:config name="Mongo_DB" database="spboassesment" doc:name="Mongo DB"/>
    <flow name="MongoRouter">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api" doc:name="HTTP"/>
        <apikit:router config-ref="Router" doc:name="APIkit Router"/>
    </flow>
    <flow name="post:/user:api-config">
        <logger message="Enter: GetAllUsers" level="INFO" doc:name="Add User Request Log"/>
        <mongo:create-collection config-ref="Mongo_DB" collection="User" doc:name="Create User Collection"/>
        <expression-transformer expression="#[payload]" doc:name="Users Request"/>
        <mongo:insert-object-from-map config-ref="Mongo_DB" collection="User" doc:name="Insert User">
            <mongo:element-attributes ref="#[payload]"/>
        </mongo:insert-object-from-map>
        <mongo:find-objects config-ref="Mongo_DB" collection="User" doc:name="Get Users"/>
        <logger message="#[payload]" level="INFO" doc:name="Users Result"/>
    </flow>
    <flow name="get:/user:api-config">
        <mongo:find-objects config-ref="Mongo_DB" collection="User" doc:name="Get All Users Collection"/>
        <logger level="INFO" doc:name="GetAllUsers Result"/>
    </flow>
    <flow name="post:/assesment:api-config">
        <logger message="Enter: GetAllUsers" level="INFO" doc:name="Add Assesment Log"/>
        <mongo:create-collection config-ref="Mongo_DB" collection="Assesment" doc:name="Create Assesment Collection"/>
        <expression-transformer expression="#[payload]" doc:name="Assesment Request"/>
        <mongo:insert-object-from-map config-ref="Mongo_DB" collection="User" doc:name="Insert Assesment">
            <mongo:element-attributes ref="#[payload]"/>
        </mongo:insert-object-from-map>
        <mongo:find-objects config-ref="Mongo_DB" collection="Assesment" doc:name="Get Assesments"/>
        <logger message="#[payload]" level="INFO" doc:name="Add Assesment Result"/>
    </flow>
    <flow name="get:/GetAssesment:api-config">
        <mongo:find-objects config-ref="Mongo_DB" collection="Assesment" doc:name="Get All Assesments"/>
        <logger level="INFO" doc:name="GetAllAssesments Result"/>
    </flow>
</mule>
